.cock {
    color: lightblue;
    text-align: center;
}

.bitch {
    background: red;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.littlebox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: lightpink;
    background: lightblue;
    width: 300px;
    border: 20px solid lightgrey;
    padding: 50px;
    margin: 20px;
    text-align: center;
}
